fastapi>=0.110.0
uvicorn>=0.29.0
python-multipart>=0.0.9  # จำเป็นสำหรับ UploadFile ของ FastAPI
pydantic>=2.0.0
pydantic-settings>=2.0.0

SQLAlchemy>=2.0.0
psycopg2-binary>=2.9.9  # เอาคอมเมนต์ออกถ้าใช้ PostgreSQL
pymysql>=1.1.0          # เอาคอมเมนต์ออกถ้าใช้ MySQL
google-genai>=0.5.0       # สำหรับสกัด PDF
langchain-ollama>=0.1.0   # สำหรับติดต่อ Ollama

openai-whisper>=20231117
edge-tts>=7.0.0
torch>=2.2.0              # รัน Whisper
torchaudio>=2.2.0
sounddevice>=0.4.6        # อัดเสียงไมค์
scipy>=1.11.0             # เซฟไฟล์ .wav
pygame>=2.5.0             # เล่นไฟล์เสียง .mp3

opencv-python>=4.8.0
numpy>=1.24.0

python-dotenv>=1.0.0      # อ่านไฟล์ .env
httpx>=0.27.0             # ยิง API ไปหา NestJS
websockets>=12.0          # จำเป็นสำหรับ WebSocket ของ FastAPI

opencv-python-headless>=4.8.0
openai>=1.65.2,<2.0.0
langchain-openai